@import '~maplibre-gl/dist/maplibre-gl.css';

* {
    margin: 0;
    padding: 0;
}

.map{
    float: right;
    left: 10%;
    right: 10%;
    width: 70%;
    margin: 20px;
    height: 80vh;
    border: 1px solid slategray;
    box-shadow: 0 0 10px pink;
}

.map-actual {
    position: relative;
    left: 10%;
    right: 10%;
    width: 80%;
    margin-top: 10px;
    border: 1px solid slategray;
    box-shadow: 0 0 10px pink;
}

.map h1 {
    border-bottom: 1px solid pink;
    box-shadow: 0 0 10px pink;
    color: slategray;
    margin: 0px;
    padding: 10px auto;
    text-align: center;
}

.map p {
    color: slategray;
    margin: 10px;
    padding: 10px auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
	.map {
		flex-direction: column;
		/* flex-wrap: wrap; */
	}
	.map-actual {
		width: 80%;
		margin-bottom: 10px;
	}
	.map h1 {
		text-align: center;
		font-size: 20px;
		padding: 0px;
		margin-bottom: 10px;
	}
	.map p {
		margin-top: 10px;
	}
}