* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}

.other-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 50vw; */
    min-height: 50vh;
    margin: 40px auto;
    background: white;
    border: 1px solid slategray;
    box-shadow: 0 3px 6px pink;
}