* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact h2 {
    /* border-bottom: 1px solid pink; */
    /* box-shadow: 0 0 10px pink; */
    color: slategray;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    min-height: 50vh;
    margin: 40px auto;
    background: white;
    border: 1px solid slategray;
    box-shadow: 0 3px 6px pink;
}

.form-control {
    padding: 10px;
}

button {
    background: pink;
    color: slategray;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}

button:hover {
    background: slategray;
    color: pink;
}

.input-field {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.input-field:focus {
    outline: none;
}

.input-field:hover {
    border: 1px solid pink;
}


/* SMALLER / RESPONSIVE DESIGN TO BE ADDED */
/* @media screen and (max-width: 768px) {
 
} */