/* NAVBAR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar .navBar-list {
  position: right;
  display: flex;
  justify-content: right; 
  width: 100%;
  overflow:hidden;
  font-size: 18px;
	color: slategray;
  padding: 20px auto;
  border-bottom: 1px solid pink;
  box-shadow: 0 0 10px pink;
}

.navBar .navBar-list li {
  list-style: none;
  margin-right: 16px;
}
